node_modules
# Keep environment variables out of version control
.env

/generated/prisma

/dist
.DS_Store
node_modules
package-lock.json
yarn.lock
bun.lockb
pnpm-lock.yaml
bun.lock
bun.lockb
bun.lockb